@media screen and (max-width: 1094px) {
    .joueur {
        width: 70%;
      }

    .searchByName input {
        width: 70%;
    }

}


@media screen and (max-width: 760px) {
    .joueur {
        width: 90%;
    }

    .searchByName input {
        width: 90%;
    }
}


@media screen and (max-width: 645px) {
    .joueur {
        width: 100%;
    }
    .searchByName input {
        width: 100%;
    }
}


@media screen and (max-width: 500px) {
    body {
        background-color: orange;
      }
      
    .joueur {
        width: 100%;
        background-color: white;
        flex-flow: column wrap;
        height: 500px;
    }
    .searchByName input {
        width: 100%;
    }

    .hisImg {
        flex: 2;
        width: 100%;
        background: url('./img/Djokovic.png') top center;
      }
      
      .hisInfos {
        flex: 3;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        padding: 0px 15px;
      }
}
  